<header id="page-top">
   <div class="container-fluid header-container row background-gif">
      <div class="col-lg-2 col-md-0 col-sm-0 d-none d-md-block"></div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-self-center">         
         <div class="header-info-container">
            <h2>4<sup>th</sup> International Workshop on</h2> 
            <h1>Camera Traps, AI, and Ecology</h1>
            <p>September 5 - 6, 2024<br/>
               Online &amp; <a href="{{ site.baseurl }}/#contact-map" style="color:white; text-decoration: underline;">Hagenberg, Austria</a></p>
         </div>
      </div>
      <div class="col-lg-2 col-md-0 col-sm-0 d-none d-md-block"></div>
   </div>
</header>