---
title: Program
layout: page
lang: en
permalink: program/
description: Programm of PPSN 2024 conference
---

<section class="background-light subpage-sec">
    <div class="container text-justify">
        <h2>Program</h2>

        <h3>Keynotes</h3>
        <div class="row">
            <div class="col-md-12">
                To be announced soon!
            </div>
        </div>
    
        <h3>Schedule</h3>
        <div class="row">
            <div class="col-md-12">    
                <!--<h4>{{ schedule.date }}</h4>-->
                <table class="table">
                    <!--<caption style="">{{ schedule.date }}</caption>-->
                    <thead>
                        <tr>
                            <th></th>
                            <th>Time</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for schedule in site.data.schedule %}   
                    {% for slot in schedule.slots %}
                    {% assign time_h = slot.time | date: '%s' %}
                    {% assign time_dura = slot.duration | times: 3600 %}
                    {% assign time_end = time_h | date: '%s' | plus: time_dura | round | date: '%s' %}
                    <tr>
                        {% if forloop.first %}
                        <th>{{ schedule.date }}</th>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>{{ time_h | date: '%s' | date: '%H:%M' }} - {{ time_end | date: '%s' | date: '%H:%M' }} ({{ time_dura | divided_by: 60 | round }} min.)</td>
                        <td>{{ slot.title }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>